/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
body {
  font-family: "Roboto", sans-serif;
}

.wrapper_margin_68 {
  height: 100%;
  max-width: 68%;
  margin: auto;
}

.container_flex {
  display: flex;
  flex-wrap: wrap;
}

.space_between {
  justify-content: space-between;
}

header {
  height: 90px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
}
header #header_logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header #header_logo > a > img {
  height: 55px;
}

main {
  color: white;
  background-color: #121212;
  margin-top: 90px;
}
main #container_disk div.box_card_disk {
  width: calc(80% / 3);
  margin-top: 50px;
}
main #container_disk div.box_card_disk:nth-child(3n-1) .card {
  margin: 0 auto;
}
main #container_disk div.box_card_disk:nth-child(3n) .card {
  float: right;
}
main #container_disk div.box_card_disk .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 280px;
  width: 200px;
  align-items: center;
  background-color: black;
  text-align: center;
}
main #container_disk div.box_card_disk .card > img {
  height: 150px;
}
main #container_disk div.box_card_disk .card .title_disk, main #container_disk div.box_card_disk .card .author {
  margin-top: 10px;
}
main #container_disk div.box_card_disk .card .author {
  color: grey;
}
main #container_disk div.box_card_disk .card .author, main #container_disk div.box_card_disk .card .year {
  font-size: 14px;
}
