/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  border: 0;
}

select:focus,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: none;
}

/*RESET CLOSE*/
.wrapper_margin_68 {
  height: 100%;
  max-width: 68%;
  margin: auto;
}

header {
  height: 90px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
}
header #header_logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header #header_logo > a > img {
  height: 55px;
}
