main {
    color: white;
    background-color: #121212;
    margin-top: 90px;
    
    div.box_card_disk {
        width:calc(80% / 3);
       
        
        margin-top: 50px;
        
        .card{
            display: flex;
            flex-direction: column;
            padding: 30px;
            width: 200px;
            height: 300px;
            align-items: center;
            background-color: black;
            >img {
                height: 100px;
            }
        }
    }
}

