main {
    color: white;
    background-color: #121212;
    margin-top: 90px;
    #container_disk{
        div.box_card_disk {
            width:calc(80% / 3);
            
            &:nth-child(3n -1) .card {
                margin:0 auto;
            }
             &:nth-child(3n) .card {
                float: right;
            }
            
            
            margin-top: 50px;
            
            .card{
                display: flex;
                flex-direction: column;
                padding: 30px;
                width: 200px;
                height: 300px;
                align-items: center;
                background-color: black;
                >img {
                    height: 100px;
                }
            }
        }
    }
}

